In [3]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from datetime import datetime

In [4]:
%matplotlib inline

In [5]:
plt.rcParams['figure.figsize'] = (10, 5)

In [6]:
saved_style_state = matplotlib.rcParams.copy() #give us a style state to go back to

In [11]:
ramen_rater = pd.read_excel("Ramen_Data.xlsx", sheet_name="The Ramen Rater - Big List Of A")

In [21]:
ramen_demands = pd.read_excel("Ramen_Data.xlsx", sheet_name="Demands for Instant Noodles ", skipfooter=1, index_col="Countries/Regions ")
#ramen_demands=ramen_demands.transpose()
ramen_demands.sample(56)

,Unnamed: 0,2016,2017,2018,2019,2020,Unnamed: 7
Countries/Regions,,,,,,,
Russia,12,1570.0,1780.0,1850,1910,2000,NaN
Bangladesh,22,280.0,350.0,310,370,370,NaN
Belgium,51,10.0,10.0,10,10,20,NaN
Guatemala,29,270.0,270.0,230,250,260,NaN
Poland,25,290.0,290.0,300,310,320,NaN
UK,20,300.0,320.0,330,350,390,NaN
Finland,53,10.0,10.0,10,10,10,NaN
New Zealand,39,80.0,80.0,80,90,90,NaN
Chile,48,30.0,20.0,30,30,20,NaN
USA,6,4120.0,4130.0,4520,4630,5050,NaN
Philippines,7,3400.0,3750.0,3980,3850,4470,NaN
Kenya,40,50.0,50.0,50,60,80,NaN
Canada,31,190.0,190.0,190,190,190,NaN
Hungary,46,30.0,30.0,30,40,40,NaN
Denmark,49,10.0,10.0,10,20,20,NaN
China/Hong Kong,1,38520.0,38960.0,40250,41450,46350,NaN
Myanmar,18,570.0,590.0,600,620,660,NaN
Netherlands,45,40.0,40.0,50,50,50,NaN
Ethiopia,37,40.0,50.0,80,80,120,NaN
Pakistan,30,170.0,190.0,190,200,220,NaN
Nigeria,11,1650.0,1730.0,1820,1920,2460,NaN
Czech Republic,42,60.0,60.0,50,60,70,NaN
Colombia,50,10.0,10.0,20,20,20,NaN
France,38,60.0,60.0,70,80,90,NaN
Uzbekistan,36,100.0,120.0,120,130,140,NaN
Egypt,23,210.0,210.0,220,280,350,NaN
Saudi Arabia,17,510.0,520.0,550,560,830,NaN
Ukraine,26,280.0,330.0,320,340,320,NaN
Germany,27,230.0,240.0,260,270,310,NaN
Costa Rica,52,10.0,10.0,10,10,10,NaN
Indonesia,2,13010.0,12620.0,12540,12520,12640,NaN
Brazil,10,2370.0,2250.0,2390,2450,2720,NaN
Sri Lanka,32,NaN,NaN,170,180,180,NaN
Malaysia,13,1390.0,1310.0,1370,1450,1570,NaN
Cambodia,21,290.0,330.0,330,350,370,NaN
Spain,41,70.0,60.0,60,60,70,NaN
Peru,34,130.0,140.0,160,160,160,NaN
Sweden,44,30.0,40.0,40,50,60,NaN
Kazakhstan,28,240.0,210.0,170,250,280,NaN
Nepal,14,1340.0,1480.0,1570,1640,1540,NaN
South Africa,24,200.0,210.0,260,280,350,NaN
Viet Nam,3,4920.0,5060.0,5200,5430,7030,NaN
Argentina,55,10.0,10.0,10,10,4,NaN
Taiwan,16,770.0,820.0,830,830,870,NaN
Iran,43,40.0,40.0,50,50,60,NaN
Turkey,33,30.0,40.0,70,120,180,NaN
Others,56,1070.0,1310.0,1010,860,800,NaN
Switzerland,54,10.0,10.0,10,10,10,NaN
Australia,19,380.0,390.0,410,420,440,NaN
Thailand,9,3360.0,3390.0,3460,3570,3710,NaN
Republic of Korea,8,3830.0,3740.0,3820,3900,4130,NaN
Mexico,15,890.0,960.0,1110,1170,1160,NaN
Italy,47,20.0,20.0,10,20,30,NaN
Singapore,35,130.0,130.0,130,120,150,NaN
India,4,4270.0,5420.0,6060,6730,6730,NaN
Japan,5,5660.0,5660.0,5780,5630,5970,NaN

In [7]:
ramen_demands.plot()

NameError: name 'ramen_demands' is not defined